body {
    overflow: hidden;
    margin: 0px;

}

a {
    text-decoration: none;
    color: white;
}

#background {
    background-color: #e5e6e7;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#background-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

#text-container {
    float: left;
    padding: 80px 50px 50px 50px;
    position: relative;
    height: 100%;
    display: inline-block;

}

.names {
/*    display: none;
*/    color: white;
    opacity: .9;
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    font-size: 125px;
    opacity: .9;
    width: auto;
    line-height: 90%;
    cursor: pointer;

}

#french-press-display{
    opacity: 0.9;
    transition: 0.3s;

}
#pour-over-display{
    opacity: 0.9;
    transition: 0.3s;

}
#espresso-display{
    opacity: 0.9;
    transition: 0.3s;

}
#coldbrew-display{
    opacity: 0.9;
    transition: 0.3s;

}

.subtext {
    margin-top: -5px;
    color: white;
    position: relative;
    padding: 0px 0px 0px 10px;
    opacity: 0;
    font-family: 'Halant', serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.4s;
}


.names:hover ~ .subtext {
    opacity: 1;
}

#information {
    float: right;
    color: #e5e6e7;
    position: fixed;
    margin: 0 auto;
    right: 0;
    top: 0;
    transition: 0.3s;
-moz-transition: 0.3s;
-webkit-transition: 0.3s;
}

.panel {
    width: 50%;
    height: 100%;
}

.header {
    margin: 0px auto;
    width: 100%;
    position: fixed;
    z-index: 20;
}

.item {
    top: -4px;
    position: fixed;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lato', serif;
    font-style: 100;
    font-size: 10px;
    letter-spacing: 3px;
    position: relative;
    color: white;
    padding: 0;
    line-height:40px;
    cursor: pointer;

}

#first {
    position: relative;
    background-color: #bbc6cd;
    opacity: .7;
    width: 12.5%;
    display: inline-block;

}

#second {
    position: relative;
    background-color: #adb7bc;
    opacity: .7;
    width: 12.5%;
    display: inline-block;

}

#third {
    position: relative;
    background-color: #bbc6cd;
    opacity: .7;
    width: 12.5%;
    display: inline-block;

}

#fourth {
    position: relative;
    background-color: #adb7bc;
    width: 12.5%;
    display: inline-block;
    opacity: .7;

}

.minimal {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 230px;
    cursor: default;

}

.Kind {
    display: none;
    font-family: 'BenchNine';
    letter-spacing: 5px;
    font-style: 400;
    font-size: 35px;
    color: #2a2a2a;
}

.Choice {
    display: none;
    margin-top: -3px;
    font-family: 'Halant', serif;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: 100;
}

.doodle {
    display: none;
    width: 20%;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;

}

.doodle:hover  
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}
/*
.rotated {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}
*/
#pictures {
    position: relative;
    display: none;
}


#photocontainer {
    position: relative;
    overflow: hidden;
}

#topphoto {
    width: 125%
    position: relative;
    height: 400px;
    object-fit: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.03); 
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

#bottomphoto {
    width: 100%;
    height: 400px;
    position: relative;
    object-fit: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
